@font-face {
    /*font-family: roboto;
    src: url(sansation_light.woff);*/
}
/*MENU RESPONSIVE*/

body, html {
  /* prevent horizontal scrolling */
  overflow-x: hidden;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.menuoverlay {
  background-color: #330033;
  position: fixed;
  width: 75vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  left: -100vw;
  transition: all .5s;
  opacity: .9;
}

.menuoverlay_active {
  left: 0;
}
.menuoverlay ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
.menuoverlay ul li {
  width: 100vw;
}
.menuoverlay ul a {
  display: block;
  width: 100vw;
  color: #fff;
  line-height: 4;
  letter-spacing: 4px;
  text-decoration: none;
  transition: all .2s;
}
/*.menuoverlay ul a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}*/

.menu-link {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9;
}

.menu-link:hover {
  background-color: red;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #333;
}
.menu-link span:before {
  content: '';
  margin-top: -6px;
  transition: all 0.2s;
}
.menu-link span:after {
  content: '';
  margin-top: 4px;
  transition: all 0.2s;
}
.menu-link_active span {
  background-color: transparent;
}
.menu-link_active span:before {
  transform: rotate(135deg);
  margin-top: 0;
}
.menu-link_active span:after {
  transform: rotate(-135deg);
  margin-top: 0;
}


/*MENU HEADER*/
.menumain{
	background-color: #7600FF ;
	max-width: 100%;
	height: 7rem;
	margin: auto;
	display: flex;
	
	align-items: center;
}

.logo{
	/*background-color: #7600FF ;*/
	padding: .8rem;
	display: flex;
	justify-content: flex-start;
	text-align: center;
	/*box-shadow: 0px 8px 20px 2px rgba(35, 10, 86,0.27);*/
	/*flex: .7;*/
}

.logo >img{
	width: 8vw;
}

.logo >img:hover {
	color:#00E4FC;
}

.menu{
	/*background-color: #7600FF;*/
	display: flex;
	justify-content: center;
	/*flex:2.5;*/
	flex: 2 ;
}

.menu a{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 1rem;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	font-size: 700;
	text-align: center;
	text-decoration: none;
	flex: .2;

}
.menu a:hover {
	color: #00E4FC;
	text-decoration: underline;
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;

}

.menu a:nth-child(1) {
	background-color: #00E4FC;
	color: #ffffff;
	padding: .9rem .6rem;
	border-radius: 50px;
	transition: all 0.8s ease-out;
  	box-shadow: 0px 8px 20px 2px rgba(7, 77, 242,0.40);
}

.menu a:nth-child(1):hover {
	background-color: #FFFFFF;
	color: #7600FF;
    transition: all 1s ease;
    box-shadow: 0px 8px 20px 2px rgba(7, 77, 242,0.40);
    border-radius: 50px;
    transform: translateY(-.2rem);
    }

/*SOCIAL ICONS*/

.socialmenu{
	
	/*background-color: magenta;*/
	text-align: center;
	display: flex;
	justify-content:space-around;
	flex:1;
}
/*MENU BAR*/

.menubar {
	/*position: fixed;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex:1;
	
}

.menubar i{
	z-index: 1003;
}

/*HERODIV*/

.hero {
	background-color: #7600FF;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 33rem;
}

h1 { 
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	color: #ffffff;
	font-family: 'Roboto Mono';
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
    text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	width: 100%;
	text-align: center;
}

.hero >p span {
	color: #ffffff;
	text-align: center;
	font-family: 'Latina Essential';
    font-weight: 900;
    font-style: normal;
    font-size: 4rem;
}


#typed {
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	color: #00E4FC;
	font-family: 'Roboto Mono';
    font-weight: bold;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
    text-shadow: -1px 3px 15px rgba(35, 10, 86, 1);
    
}

.typed-cursor {
	color: #ffffff;
	opacity: 1;
	font-weight: 100;
	animation: blink 0.7s infinite;
}

/*CONTENT TEXTO*/

.textzero {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 42rem;
}

.textuno {
	width: 60%;
	color: #7600FF;
	font-family: 'Roboto' , Helvetica;
    font-weight: normal;
    font-style: normal;
	font-size: 3rem;
	text-align: center;
  	text-justify: inter-word;
  	text-justify: inter-character;
  	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
	



/*SERVICES*/


.services {
	background-color: #6633cc ;
	max-width: 100% ;
	height: 42rem ;
	display: flex;
	
}

/*SECTION TEXTO*/

.sertext {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1
}

.sertext .tituloserv {
	margin-bottom: 2rem;
	color: #7600FF;
	font-family: 'Latina Essential';
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
}


.sertext >p {
	margin-bottom : 4rem;
	color: #999999;
	max-width: 60%;
	font-family: 'Roboto Mono';
    font-weight: 300;
    font-style: normal;
   
    text-align: center;
  	text-justify: inter-word;
  	text-justify: inter-character;
}

/*.boton1 {
	display: flex;
	background-color: #7600FF;
	color: #ffffff;
	cursor: pointer;
	padding: 1rem 3rem;
	text-decoration: none;
	-webkit-box-shadow: 2px 14px 28px -9px rgba(156,112,249,1);
	-moz-box-shadow: 2px 14px 28px -9px rgba(156,112,249,1);
	box-shadow: 2px 14px 28px -9px rgba(156,112,249,1);
	transition: all 0.8s, color 0.3s 0.3s;
}*/

/*.boton1:hover {
	box-shadow: 300px 0 0 0 #66ff99 inset;
}*/



.sertext .button-2 {
  
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: all 0.8s, color 0.3s 0.3s;
  background-color: #7600FF;
  color: #ffffff;

}
.sertext .button-2:hover {
  box-shadow: 300px 0 0 0  #00E4FC inset;
}
.sertext .button-2 span {
	
	text-transform: uppercase;
  	font-weight: bold;
  	font-size: 14px;
}




/*SECTION IMAGE*/

.imgser {
	flex: 1
}




.pruebadiv {
	background-color: yellow;
	height: 20rem;
}

.pruebadiv2 {
	background-color: green;
	height: 20rem;

}

.pruebadiv3 {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	/*background-color: #B786FC;
*/	color: #7600FF;
	height: 20rem;
	text-align: center;
}

.pruebadiv3 h3 {

	font-family: 'Latina Essential';
    font-weight: 900;
    font-style: normal;
    font-size: 13rem;
}

.pruebasdiv{
	background-color: blue;
	height: 20rem;
}

/**/

.text-scan {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.text-scan {
  font-size: 2em;
  font-family: 'Open sans', sans-serif;
  cursor: pointer;
}

.text-scan:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  padding: 1px;
  background-color: #ff6969;
  transform: translateX(-101%);
  transition: transform 0.6s ease-in-out;
}
.text-scan:hover::after {
  z-index: 20;
  transform: translateX(101%);
}

/**/

.reveal-text,
.reveal-text::after {
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-duration: 800ms;
	        animation-duration: 800ms;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
	        animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	position: relative;
	font-size: 4vw;
	display: block;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-animation-name: reveal-text;
	        animation-name: reveal-text;
	color: black;
	white-space: nowrap;
	cursor: default
	
}

.reveal-text::after {
	content: "";
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #7600FF;
	-webkit-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	        transform-origin: 0 50%;
	pointer-events: none;
	-webkit-animation-name: revealer-text;
	        animation-name: revealer-text;
}


@-webkit-keyframes reveal-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		        clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		        clip-path: inset(0 0 0 0);
	}
}


@keyframes reveal-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		        clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		        clip-path: inset(0 0 0 0);
	}
}


@-webkit-keyframes revealer-text {
	
	0%, 50% {
		-webkit-transform-origin: 0 50%;
		        transform-origin: 0 50%;
	}
	
	60%, 100% {
		-webkit-transform-origin: 100% 50%;
		        transform-origin: 100% 50%;		
	}

	
	60% {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
	}
	
	100% {
		-webkit-transform: scaleX(0);
		        transform: scaleX(0);
	}
}


@keyframes revealer-text {
	
	0%, 50% {
		-webkit-transform-origin: 0 50%;
		        transform-origin: 0 50%;
	}
	
	60%, 100% {
		-webkit-transform-origin: 100% 50%;
		        transform-origin: 100% 50%;		
	}

	
	60% {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
	}
	
	100% {
		-webkit-transform: scaleX(0);
		        transform: scaleX(0);
	}
}






/*FOOTER*/

.futer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #333333;
	max-width: 100%; 
	height: 25rem;

}

.futer .cont{
	display: flex;
	flex-direction: column;
	/*background-color: #6633cc;*/
	flex: 1;
	text-align: center;
}

.futer .cont a {
	text-decoration: none;
	color:#ffffff;
	font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;

}

.futer .contacto  {
	color: #7600FF;
	font-family: 'Latina Essential';
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
}



.futer p {
	color:#ffffff;
	font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
}

.futer .menudos {

	display: flex;
	flex-direction: column;
	/*background-color: yellow;*/
	flex: .4;
}

.futer .menudos a {
	margin-right: auto;
	text-decoration: none;
	text-transform: lowercase;
	color: #66ff99;
	font-size: 1.5rem;
	font-family: 'Roboto Mono';
    font-weight: 500;
    font-style: normal;
    transition: all 0.8s, color 0.3s 0.3s;
}

.futer .menudos a:hover {
	box-shadow: 300px 0 0 0 #66ff99 inset; 
	color: #ffffff;
}

.futer .socials {
	flex: .3;
}

.futer .socials li {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*background-color: greenyellow;*/
	
}

.futer .socials a {
	margin-right: auto;

	text-decoration: none;
	color: #ff9966;
	font-size: 1.5rem;
	font-family: 'Roboto Mono';
    font-weight: 500;
    font-style: normal;
    transition: all 0.8s, color 0.3s 0.3s;
}

.futer .socials a:hover {

	box-shadow: 300px 0 0 0 #ff9966 inset;
	color: #ffffff;
}

/*WEB DEVELOPMNET*/


.webhero {
	display: flex;
	background-color: #7600FF;
	height: 45rem;
}


.headerweb {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	background-color: #7600FF;
	color: #FFF;
	height: 45rem;
	text-align: center;
}

.headerweb h3 {

	font-family: 'Latina Essential';
    font-weight: 900;
    font-style: normal;
    font-size: 13rem;
}
