@font-face {
    /*font-family: roboto;
    src: url(sansation_light.woff);*/
}
/*MENU RESPONSIVE*/

body, html {
	scroll-behavior: smooth;	
	/*prevent horizontal scrolling*/
	overflow-x: hidden;
  /*webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(400px);
          transform: perspective(400px);*/
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus, input:focus{ outline: none;}

/*scroll_bar styles*/


::-webkit-scrollbar { width: 11px;height: 11px;}
::-webkit-scrollbar-button { width: 0px;height: 0px;}
::-webkit-scrollbar-thumb {background: #313131; border: 16px none #ffffff; border-radius: 38px;}
::-webkit-scrollbar-thumb:hover {background: #ffffff;}
::-webkit-scrollbar-thumb:active { background: #000000;}
::-webkit-scrollbar-track {background: #8000ff;border: 7px none #ffffff;border-radius: 0px;}
::-webkit-scrollbar-track:hover { background: #8000ff;}
::-webkit-scrollbar-track:active { background: #8000ff;}
::-webkit-scrollbar-corner { background: transparent;}



/*HEADER*/

.menumain {
  display: flex;
  align-items: center;
  background-color: #7600FF;
  height: 20vh;
}

.logo >img{
  width: 8vw;
}

.logo {
 /* background-color: red;*/
  display: flex;
  flex:.5;
  justify-content: center;
}

.menuprin a {
  color: white;
}

.menuprin {
  /*background-color: green;*/
  display: flex;
  justify-content: space-around;
  flex: 2;
}

.burger {
  display: flex;
  flex: .5;
  justify-content: center;
  background-color: purple;
}

/*MENU OVERLAY*/

.menu {
  background-color: #0A0A0A;
  position: fixed;
  width: 68vw;
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: -100vw;
  transition: all .5s;
  opacity: .98;
  /*-webkit-box-shadow: -8px 9px 60px 3px rgba(15,15,15,1);
-moz-box-shadow: -8px 9px 60px 3px rgba(15,15,15,1);
box-shadow: -8px 9px 60px 3px rgba(15,15,15,1);*/
  -webkit-box-shadow: -12px 8px 54px -7px rgba(15,15,15,1);
  -moz-box-shadow: -12px 8px 54px -7px rgba(15,15,15,1);
   box-shadow: -12px 8px 54px -7px rgba(15,15,15,1);
	visibility: hidden;
  	overflow: hidden;
}



.menu-link {
  display: flex;
 /* flex: 2;*/
  /*display: block;*/
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
 /* -webkit-box-shadow: 1px 5px 14px 4px rgba(102,0,204,1);
  -moz-box-shadow: 1px 5px 14px 4px rgba(102,0,204,1);
  box-shadow: 1px 5px 14px 4px rgba(102,0,204,1);*/
  position: fixed;
  top: 40px;
  right: 50px;
  z-index: 9;

  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.menu-link:hover {
  background-color: #33ffff;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

/*ANIMATION AXES BUTTON*/

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #333;
}
.menu-link span:before {
  content: '';
  margin-top: -6px;
  transition: all 0.2s;
}
.menu-link span:after {
  content: '';
  margin-top: 4px;
  transition: all 0.2s;
}
/*BUTTON ACTION JS EVENT*/

.menu-link_active span {
  background-color: transparent;
}
.menu-link_active span:before {
  transform: rotate(135deg);
  margin-top: 0;
}
.menu-link_active span:after {
  transform: rotate(-135deg);
  margin-top: 0;
}
.menu_active {
	right: 0rem;
	visibility: visible;
	/*animation: fadeInRight .5s ease forwards;
  	animation-delay: .35s;*/
}


.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
 
}
.menu ul li {
  width: 100vw;
}
.menu ul a {
  display: block;
  width: 100%;
  color: #7600FF;
  line-height: 4;
  letter-spacing: 4px;
  text-decoration: none;
  transition: all .2s;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 700;
}
.menu ul li  a:hover {
  	/*box-shadow: 1000px 0 0 0 #66ff99 inset; */
	color: #ffffff;
  /*background-color: rgba(255, 255, 255, 0.4)*/;
}

/*social_menu_bar*/

.socialmenu2{
	position: fixed;
	/*background-color: magenta;*/
	text-align: center;
	display: flex;
	justify-content: center;
	bottom: 10rem;
	flex:.5;
	z-index: 2;
}

.socialmenu2 a {
	text-decoration: none;
	display: flex;
	margin-left: 1rem;
	color:#ffffff;
	-webkit-transition: color .5s ease-out;
	-moz-transition: color .5s ease-out;
 	-o-transition: color .5s ease-out;
  	transition: color .5s ease-out;
}

.socialmenu2 a:hover {
	color: #00E4FC;
}


/*MENU HEADER*/

.underline {
  position: relative;
}
.underline:hover,
.underline:focus,
.underline:active {
  cursor: pointer;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  width: 70%;
}
.underline:after {
  content: '';
  position: absolute;
  left: 25px ;
  bottom: -1px;
  height: 9px;
  background-color: #0C0B0B;
  width: 0 ;
  -webkit-transition: width .4s;
  transition: width .4s;
}


.menuprin a{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 1rem;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	font-size: 700;
	text-align: center;
	text-decoration: none;
	flex: .2;

}
.menuprin a:hover {
	color: #00E4FC;
	/*text-decoration: underline;*/
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;

}

.menuprin a:nth-child(1) {
	background-color: #00E4FC;
	color: #ffffff;
	padding: .9rem .6rem;
	border-radius: 50px;
	transition: all 0.8s ease-out;
  	box-shadow: 0px 8px 20px 2px rgba(7, 77, 242,0.40);
}

.menuprin a:nth-child(1):hover {
	background-color: #FFFFFF;
	color: #7600FF;
    transition: all 1s ease;
    box-shadow: 0px 8px 20px 2px rgba(7, 77, 242,0.40);
    border-radius: 50px;
    transform: translateY(-.2rem);
  }

/*SOCIAL ICONS*/

.socialmenu{
	
	/*background-color: magenta;*/
	text-align: center;
	display: flex;
	justify-content:space-around;
	flex:.5;
}

.socialmenu a {
	color:#ffffff;
	-webkit-transition: color .5s ease-out;
	-moz-transition: color .5s ease-out;
 	-o-transition: color .5s ease-out;
  	transition: color .5s ease-out;
}

.socialmenu a:hover {
	color: #00E4FC;
}





/*HERODIV*/

.texttyped {
	display: flex;
	text-align: center;
	max-width: 100%;
	height: 39rem;
}


#typed  {
	
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #00E4FC;
	font-family: 'Roboto Mono';
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;

}

#typed6 {
	position: absolute;
  	top: 20rem;
  	left: 14%;
	/*display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;*/
	/*width: 85%;*/
	/*padding-bottom: 5rem;
	padding-left: 12rem;*/
	color: #00E4FC;
	font-family: 'Roboto Mono';
    font-weight: 500;
    font-style: normal;
    font-size: 3.5rem;
    z-index: 1;
}


.typed-cursor {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 5rem;
	color: #ffffff;
	opacity: 1;
	font-weight: 400;
	font-size: 4rem;
	animation: blink 0.7s infinite;
}

/*SCROLL-DOWN*/

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  /*z-index: 2;*/
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/*CONTENT TEXTO*/

.textzero {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 36rem;
}



.textuno {
	width: 60%;
	color: #7600FF;
	font-family: 'Roboto' , Helvetica;
    font-weight: normal;
    font-style: normal;
	font-size: 3rem;
	text-align: center;
  	text-justify: inter-word;
  	text-justify: inter-character;
  	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
	



/*SERVICES*/


.services {
	background-color: white ;
	max-width: 100% ;
	height: 42rem ;
	display: flex;
	
}

.servicetext {
	/*background-color: black;*/
}
 .services .imgser {
	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex:1;
 	/*margin-left: -15rem;*/
 }

 .imgser img {
 	display: flex;
 	text-align: center;
	width: 600px;
	height: 600px;
	border-radius: 5px;
	box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
	overflow: hidden;
}


/*.imgser2 img {
 	display: flex;
 	flex:2;
 	text-align: center;
	width: 450px;
	height: 450px;
	border-radius: 5px;
	box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
	overflow: hidden;
}*/

/*SECTION TEXTO*/

.sertext {
	/*background-color: black;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1
	
}

.sertext .tituloserv {
	margin-bottom: 2rem;
	color: #7600FF;
	font-family: 'Latina Essential';
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
}


.sertext >p {
	margin-bottom : 4rem;
	color: #999999;
	max-width: 60%;
	font-family: 'Roboto Mono';
    font-weight: 300;
    font-style: normal;
   
    text-align: center;
  	text-justify: inter-word;
  	text-justify: inter-character;
}

/*.boton1 {
	display: flex;
	background-color: #7600FF;
	color: #ffffff;
	cursor: pointer;
	padding: 1rem 3rem;
	text-decoration: none;
	-webkit-box-shadow: 2px 14px 28px -9px rgba(156,112,249,1);
	-moz-box-shadow: 2px 14px 28px -9px rgba(156,112,249,1);
	box-shadow: 2px 14px 28px -9px rgba(156,112,249,1);
	transition: all 0.8s, color 0.3s 0.3s;
}*/

/*.boton1:hover {
	box-shadow: 300px 0 0 0 #66ff99 inset;
}*/



.sertext .button-2 {
  
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: all 0.8s, color 0.3s 0.3s;
  background-color: #7600FF;
  color: #ffffff;
 

}
.sertext .button-2:hover {
	box-shadow: 300px 0 0 0  #00E4FC inset;
 
}
.sertext .button-2 span {
	
	text-transform: uppercase;
  	font-weight: bold;
  	font-size: 14px;
}




/*SECTION IMAGE*/

/*.poster{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1

}
*/
/*.poster div[class*="layer-"] {
  /*position: absolute;
  top: 10px;
  left: 10px;*/
  /*right: -10px;
  bottom: -10px;*/
  /*background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: 0.1s;
          transition: 0.1s;*/
/*}*/
.poster .layer-1 {
  /*background-image: url("../images/1.png");*/
}
.poster .layer-2 {
  /*background-image: url("../images/2.png");*/
}
.poster .layer-3 {
  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  /*background-image: url("../images/3.png");*/
}
/*.poster .layer-4 {
	
	text-align: center;
	background-image: url("lapcode.gif");
	width: 450px;
	height: 450px;
	border-radius: 5px;
	box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
	overflow: hidden;*/

   /*background-image: url("https://media.giphy.com/media/l2QEdUZNdB6dVGZuE/giphy.gif");*/
}
.poster .layer-5 {
  /*background-image: url("../images/5.png");*/
}

/*H2*/


.pruebadiv3 {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	/*background-color: #7600FF;*/
	color: #7600FF;
	height: 20rem;
	text-align: center;
}



.pruebadiv3 span {

	font-family: 'Roboto Mono';
	font-weight: bold;
	font-style: normal;
	font-size: 5rem;
    
}
/*web development section*/

.pruebadiv4 {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	background-color: #141414;
	height: 30rem;
	text-align: center;
}

.pruebadiv4 span {
	font-family: 'Roboto Mono';
	font-weight: bold;
	font-style: normal;
	font-size: 5rem;
}






/*.service_list_items {
	display: flex;
}*/




 

 

 .imgser img {
 	display: flex;
 	
	text-align: center;
	width: 300px;
	height: 300px;
	border-radius: 5px;
	box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.imgser .png2 {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 400px;
  max-height: 400px;
  -webkit-transform: translateZ(40px) scale(0.6);
          transform: translateZ(40px) scale(0.6);
  text-shadow: -2px -1px 2px #969696;        
}
  


/*SECTION TEXTO*/

.sertext_web {

	/*background-color: #7600FF;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
  height:40rem;
}

.sertext_web .tituloserv {
	margin-bottom: 2rem;
	color: #FFFFFF;
	font-family: 'Latina Essential';
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
}



.sertext_web >p {
	margin-bottom : 4rem;
	color: #141414;
	max-width: 60%;
	font-family: 'Roboto Mono';
    font-weight: 300;
    font-style: normal;
   
    text-align: center;
  	text-justify: inter-word;
  	text-justify: inter-character;
}

.sertext_web .button-2 {
  
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: all 0.8s, color 0.3s 0.3s;
  background-color: #1a1a1a;
  color: #ffffff;

}
.sertext_web .button-2:hover {
  box-shadow: 300px 0 0 0  #00E4FC inset;
}
.sertext_web .button-2 span {
	
	text-transform: uppercase;
  	font-weight: bold;
  	font-size: 14px;
}






/**/

.text-scan {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.text-scan {
	color: #7600FF;
	margin-bottom: 3rem;
	font-family: 'Roboto Mono';
	font-weight: bold;
	font-style: normal;
	font-size: 3.5rem;
	cursor: pointer;
}

.text-scan:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 65%;
  padding: 1px;
  background-color: #00E4FC;
  transform: translateX(-101%);
  transition: transform 0.6s ease-in-out;
}
.text-scan:hover::after {
  z-index: 20;
  transform: translateX(101%);
}

/*******************textscandos*********************/

.text-scan_dos {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.text-scan_dos {
  color: #141414;
  margin-bottom: 3rem;
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-style: normal;
  font-size: 1.9rem;
  cursor: pointer;
}

.text-scan_dos:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 65%;
  padding: 1px;
  background-color: #00E4FC;
  transform: translateX(-101%);
  transition: transform 0.6s ease-in-out;
}
.text-scan_dos:hover::after {
  z-index: 20;
  transform: translateX(101%);
}

/**/

.reveal-text,
.reveal-text::after {
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-duration: 800ms;
	        animation-duration: 800ms;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
	        animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	position: relative;
	font-size: 4vw;
	display: block;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-animation-name: reveal-text;
	        animation-name: reveal-text;
	color: black;
	white-space: nowrap;
	cursor: default
	
}

.reveal-text::after {
	content: "";
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #7600FF;
	-webkit-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	        transform-origin: 0 50%;
	pointer-events: none;
	-webkit-animation-name: revealer-text;
	        animation-name: revealer-text;
}


@-webkit-keyframes reveal-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		        clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		        clip-path: inset(0 0 0 0);
	}
}


@keyframes reveal-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		        clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		        clip-path: inset(0 0 0 0);
	}
}


@-webkit-keyframes revealer-text {
	
	0%, 50% {
		-webkit-transform-origin: 0 50%;
		        transform-origin: 0 50%;
	}
	
	60%, 100% {
		-webkit-transform-origin: 100% 50%;
		        transform-origin: 100% 50%;		
	}

	
	60% {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
	}
	
	100% {
		-webkit-transform: scaleX(0);
		        transform: scaleX(0);
	}
}


@keyframes revealer-text {
	
	0%, 50% {
		-webkit-transform-origin: 0 50%;
		        transform-origin: 0 50%;
	}
	
	60%, 100% {
		-webkit-transform-origin: 100% 50%;
		        transform-origin: 100% 50%;		
	}

	
	60% {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
	}
	
	100% {
		-webkit-transform: scaleX(0);
		        transform: scaleX(0);
	}
}

/*underlinefuter*/

.underline2 {
  position: relative;
}
.underline2:hover,
.underline2:focus,
.underline2:active {
  cursor: pointer;
}
.underline2:hover:after,
.underline2:focus:after,
.underline2:active:after {
  width: 100%;
}
.underline2:after {
  content: '';
  position: absolute;
  left: 0px ;
  bottom: -2px;
  height: 4px;
  background-color: #7600FF;
  width: 0 ;
  -webkit-transition: width .4s;
  transition: width .4s;
}


/*contacto*/

.cont{
	display: flex;
	align-items: center;
	background-color: #7600FF;
	max-width: 100%;
	max-height: 40rem;
	padding: 1rem;
	
}

.cont .continfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex:1.5;
	background-color: #0F0E0E;
	box-shadow: 0 45px 100px rgba(0, 0, 0, 0.6);
	margin: 1rem;
	height: 30rem;
	padding-top: 5rem ;
	padding-bottom: 5rem;
	padding-left: 5rem;
	padding-right: 5rem; 
	/*padding: 5rem  7rem 5rem 7rem;*/
}

.cont .imgser {
	flex:1;
	padding: 5rem ;
}

.continfo a {
	text-decoration: none;
	color:#ffffff;
	padding-top: 1rem;
	font-family: 'Roboto Mono';
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;

}

.reveal-text {
	color: white;
	font-size: 1rem;
}

.continfo p {
	width: 26.5rem;
	/*padding-bottom: 2rem;*/
	/*background-color: chartreuse;*/
	color:#ffffff;
	font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}






/*FOOTER*/

/*.futer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #0C0B0B;
	max-width: 100%; 
	height: 33rem;

}*/


/*.futer p {
	color:#ffffff;
	font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
}*/

/*.futer .menufooter {

	display: flex;
	flex-direction: column;
	background-color: yellow;
	flex: 1;
	max-width:50%;
	max-height: 20rem;
}*/

/*.futer .menudos a {
	margin-right: auto;
	text-decoration: none;
	text-transform: lowercase;
	color: #7600FF;
	font-size: 1.5rem;
	 font-family: 'Roboto Mono';
    font-weight: 300;
    font-style: normal;
    transition: all 0.8s, color 0.3s 0.3s;
}*/

/*.futer .menudos a:hover {
	box-shadow: 300px 0 0 0 #7600FF inset; 
	color: #ffffff;
}*/

/*.futer .menudos a:hover {
	box-shadow: 300px 0 0 0 #7600FF inset; 
	color: #ffffff;
}*/

/*.futer .menudos p {
	font-size: 1.5rem;
	padding-bottom: .5rem;
}*/

/*.futer .socials {
	flex: 1;
	background-color: greenyellow;
}*/

/*.futer .socials li {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
	
}*/

/*.futer .socials a {
	margin-right: auto;

	text-decoration: none;
	color: #ff9966;
	font-size: 1.5rem;
	 font-family: 'Roboto Mono';
    font-weight: 300;
    font-style: normal;
    transition: all 0.8s, color 0.3s 0.3s;
}*/

/*.futer .socials a:hover {

	box-shadow: 300px 0 0 0 #ff9966 inset;
	color: #ffffff;
}*/

/*WEB DEVELOPMNET*/

./*futer .socials p {
	font-size: 1.5rem;
	padding-bottom: .5rem;
}*/

.webhero {
	display: flex;
	background-color: #7600FF;
	height: 45rem;
}


.headerweb {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	background-color: #7600FF;
	color: #FFF;
	height: 45rem;
	text-align: center;
}

.headerweb h3 {

	font-family: 'Latina Essential';
    font-weight: 900;
    font-style: normal;
    font-size: 13rem;
}


/*CONTACTO.HTML*/

/*.socialsdos {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	height: 33rem;
	color: #33ffff;
	background-color: #33ffff;
	
}*/

 .container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7600FF;
	height: 60rem;

}

.container form {
	background-color: #0F0E0E;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	height:45rem;
	border-radius: 5px;
	box-shadow: 0 45px 100px rgba(0, 0, 0, 0.6);

}

.container form input[type=text]{
	background-color: #0F0E0E;

	border: none;
	border-bottom: 2px solid #33ffff;
    color: white;
    width: 75%;
    padding: 12px 20px;
    margin: 1.5rem 0;
    box-sizing: border-box;
}

.container form textarea {
	background-color: #141212;
	color: #BCBBBB;
	border: none;
	resize: none;
	width: 75%;
	margin: 20px 15px;
	padding: 12px 20px;
}
.container form label {
	display: flex;
	align-self: flex-start;
	color: #33ffff;
	margin-left: 6rem;
	font-family: 'Roboto Mono';
  	font-weight: 100;
  	font-style: normal;
}


input::placeholder {
	color: #BCBBBB;
	font-family: 'Roboto Mono';
	font-weight: 100;
	font-style: normal;
}

textarea::placeholder {
	color: #BCBBBB;
	font-family: 'Roboto Mono';
	font-weight: 100;
	font-style: normal;

}


.container form input[type=submit] {
	background-color: #33ffff;
	width: 75%;
	border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 15px 15px;
    cursor: pointer;
    box-shadow: 0 45px 100px rgba(0, 0, 0, 0.8);
    transition: all .5s;
}

.container form input[type=submit]:hover {
	background-color: #7600FF;
	
}

.socialsdos {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #7600FF;
	max-width: 100%; 
	height: 33rem;
}

.socialsdos  a {
	display: flex;
	justify-content: center;
	align-items: center;
	/*flex: 2;*/
	/*background-color: #7600FF;*/
	width: 15rem;
	height: 15rem;
	text-decoration: none;
	font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
}

/*.socialsdos a:nth-child(even) {
    background: blue;
}*/



.socialsdos  [class*="redes-"] {
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	-webkit- transition: all .5s;
     transition: all .5s;
}

.socialsdos  [class*="redes-"]:hover {
	box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
}

 .socialsdos .redes-f {
  background-image: url("image/face.jpg");
  box-shadow: 0 10px 50px rgba(102, 99, 99, 0.8);
}

.socialsdos .redes-i {
  background-image: url("image/insta.jpg");
  box-shadow: 0 10px 100px rgba(102, 99, 99, 0.8);
}

.socialsdos .redes-b {
  background-image: url("image/behance.jpg");
  box-shadow: 0 10px 100px rgba(102, 99, 99, 0.8);
}

.socialsdos .redes-y {
  background-image: url("image/youtube.jpg");
  box-shadow: 0 10px 100px rgba(102, 99, 99, 0.8);
}


/*futercontacto*/

.futer2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	background-color: #200A2C;
	height: 5rem;
	overflow-y: hidden
}

.futer2 .logofuter {
	display: flex;
	width: 45%;
	flex: 2;
	padding-left: 2rem;
}

.futer2 .logofuter >img{
	display: flex;
	justify-content: center;
	/*background-color: red;*/
	width: 5vw;
}

.futer2 .menutres {
	/*background-color: gold;*/
	display: flex;
	justify-content: space-around;
	flex: 2;
	flex-direction: row;
	width: 65%;


}

.futer2 .menutres a {
	display: flex;
	margin-right: auto;
	text-decoration: none;
	font-family: 'Roboto Mono';
    font-weight: 100;
    font-style: normal;
    font-size: .8rem;
    transition: all 0.2s, color 0.4s 0.2s;
}

.futer2 .menutres a:hover {
	color: #ffffff;
}

/*web development */




/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width:350px) {

.logo >img{
  width: 20vw;
}

.menumain .menuprin {
	display: none;
}

.menumain .socialmenu{
	display: none;
}

}

@media screen and (max-width:480px) {

.logo >img{
  width: 20vw;
}

.menumain .menuprin {
	display: none;
}

.menumain .socialmenu{
	display: none;
}

}