	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/10/2017 04:17
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 18px;
  font-style: normal;
  margin-left: 9px;
}

.flaticon-menu:before { content: "\f100";
  font-size: 50px;
  /*-webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;*/



 

 }
.flaticon-instagram:before { content: "\f101"; 
  -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;


}
.flaticon-youtube-symbol:before { content: "\f102"; 
  -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}
.flaticon-facebook-letter-logo:before { content: "\f103"; 
  -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}

.flaticon-instagram {
  color: #FFFFFF;
}

.flaticon-youtube-symbol {
  color: #FFFFFF;
}

.flaticon-facebook-letter-logo {
  color: #FFFFFF;
}

.flaticon-menu {
color: #FFFFFF;
transition: color .4s ease-in ,transform .3s ease;


}

.flaticon-instagram:hover {
   
  color: #00E4FC;
  cursor: pointer;
  

  /*transform: translateY(-.1rem);*/
}

.flaticon-youtube-symbol:hover {
  color: #00E4FC;
  cursor: pointer;
}

.flaticon-facebook-letter-logo:hover {
  color: #00E4FC;
  cursor: pointer;
}


.flaticon-menu:hover {

  color: #33ccff;
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: 2px 5px 2px #7600FF;
 
}
