.container {
  width: 100%;
  text-align: center;
  margin-top: 2vh;
  background-color: black;
}

.container svg {
	width: 30%;
}
.playBut {
  /*  border: 1px solid red;*/
  display: inline-block;
  -webkit-transition: all 0.5s ease;
}




.playBut:hover .lreUwKVd_0 {
	stroke-dasharray:6546 6548;
 	stroke-dashoffset:6547;
 	animation: lreUwKVd_draw 666ms linear 0ms forwards;
 	}

.playBut:hover .lreUwKVd_1 {
 	stroke-dasharray:3365 3367;
 	stroke-dashoffset:3366;
 	animation: lreUwKVd_draw 666ms linear 333ms forwards;
 	}

 @keyframes lreUwKVd_draw {
 		100%  { 
 			 stroke-dashoffset:0;
 			}
 		}

 @keyframes lreUwKVd_fade {
 	0% {
 		stroke-opacity:1;
 		} 
 		92.3076923076923%
 		{ 
 			stroke-opacity:1;
 			} 
 			100% {
 				stroke-opacity:0;
 				}
 }